<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="log4j-config">
    <Properties>
        <Property name="file-name">server.log</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace" />

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - $${jndi:java:a} %m%n
                </pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="LOG_FILE" fileName="${file-name}" append="true" filePattern="${file-name}.%d{yyyy-MM-dd}">
            <Layout type="PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </Layout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console-Appender" />
        </Root>
    </Loggers>

</Configuration>